@import "tailwindcss";
@font-face {
    font-family: "pricedown";
    src: url(C:\Users\pc\OneDrive\Documents\GTA\public\pricedown.otf);
}
html,body{
    width: 100%;
    height: 100%;
    font-family: "pricedown";
    overflow: hidden;

}
